<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SystemEntities" connectionString="metadata=res://*/EF.SystemModel.csdl|res://*/EF.SystemModel.ssdl|res://*/EF.SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Template_System;user id=template;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>