<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true" xmlns="proxy.xsd">
    <serverUrls>
        <serverUrl url="http://103.74.116.95/arcgis/rest/services/VinhLong-CapNuoc"
                   username="capnuocvinhlong"
                   password="capnuocvinhlong"
                   matchAll="true"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
